{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            Merci pour votre achat, rendez-vous dans votre espace client pour commencer votre formation !
        </div>
        <div class="col-md-12">
            <a class="btn btn-primary" href="{{ path('app_mon_profil')}}">Espace client</a>
        </div>
    </div>

{% endblock %}

{% block title %}

{% endblock %}

