{% extends 'base.admin.html.twig' %}

{% block title %}Modifier la formation{% endblock %}

{% block body %}
    <h1>Modifier la formation</h1>

    {{ include('admin_formation/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <div class="mt-3">
        <a class="btn btn-secondary" href="{{ path('app_admin_formation_index') }}">Retour à la liste des formations</a>
        {% include 'admin_formation/_delete_form.html.twig' %}
    </div>

    {% include 'admin_chapitre/index.html.twig' with {formation: formation, mediaHelper: mediaHelper} %}

    {% include 'admin_quiz/_list.html.twig' with {formation: formation} %}

{% endblock %}
