{% extends 'base.admin.html.twig' %}

{% block title %}Modifier le module{% endblock %}

{% block body %}
    <h1>Modifier le module</h1>

    {{ include('admin_formation/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <div class="d-flex flex-wrap gap-2 mt-3">
        <a class="btn btn-admin-outline" href="{{ path('app_admin_formation_index') }}">
            <i class="bi bi-arrow-left me-1"></i> Retour à la liste
        </a>
        {% include 'admin_formation/_delete_form.html.twig' %}
    </div>

    {% include 'admin_chapitre/index.html.twig' with {formation: formation, mediaHelper: mediaHelper} %}

    {% include 'admin_quiz/_list.html.twig' with {formation: formation} %}

{% endblock %}
