{% extends 'base.admin.html.twig' %}

{% block title %}New Formation{% endblock %}

{% block body %}
    <h1>Create new Formation</h1>

    {{ include('admin_formation/_form.html.twig') }}

    <a class="btn btn-admin-outline mt-3" href="{{ path('app_admin_formation_index') }}">
        <i class="bi bi-arrow-left me-1"></i> Retour aux formations
    </a>
{% endblock %}
