{% extends 'base.admin.html.twig' %}

{% block title %}New Formation{% endblock %}

{% block body %}
    <h1>Create new Formation</h1>

    {{ include('admin_formation/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('app_admin_formation_index') }}">Retourner aux formations</a>
{% endblock %}
